.background {
  display: flex;
  flex-direction: column;
  background-color: #e3eaef;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 1%;
  border: 1px solid #d8dfe6;
  border-radius: 0.25rem;
  padding: 1rem;
}
