.button-primary {
  background-color: #023b78;
  color: white;
  border: none;
  padding: 0.3rem 0.75rem 0.3rem 0.75rem;
  border-radius: 0.125rem;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #0056b3;
}

.button-secondary {
  background-color: transparent;
  border: "1px solid #D8DFE6";
  padding: 0.3rem 0.75rem 0.3rem 0.75rem;
  border: 1px solid #d8dfe6;
  border-radius: 0.125rem;
  color: #77818c;
  cursor: pointer;
}

.button-active {
  background-color: #2188ff;
  color: white;
  border: 1px solid #2188ff;
  padding: 0.3rem 0.75rem 0.3rem 0.75rem;
  border-radius: 0.125rem;
}

.button-active:hover {
  background-color: #2188ff;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
