.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titleTextContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}

.titleButtonContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 0.25rem;
  border: 2px dashed #d8dfe6;
  padding: 0.5rem;
}
